{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 120,



  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "{**/*,*}.{html,jsx,tsx,vue}",
      "options": {
        "printWidth": 150
      }
    }
  ]
}
