@tailwind base;
@tailwind components;
@tailwind utilities;

.about-photo {
    width: 30%;
    height: auto;
    margin: auto;
}

@media (max-width: 440px) {
    .about-photo {
        width: 50%;
    }
}
