@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #000;
  --selection-background: #B4D5FE;
}

::selection {
  background: var(--selection-background);
  color: var(--primary-dark);
}

.about-photo {
  width: 20%;
  height: auto;
  margin-bottom: 0;
}

@media (max-width: 440px) {
  .about-photo {
    width: 30%;
  }
}
