@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --selection-background: #B4D5FE;
}

.about-photo {
  width: 20%;
  height: auto;
  margin-bottom: 0;
}

@media (max-width: 440px) {
  .about-photo {
    width: 30%;
  }
}
